{% extends 'base/base.twig' %}
{% block css %}..\{% endblock %}
{% block photo %}..\{% endblock %}
{% block liens1 %}..\{% endblock %}
{% block liens2 %}..\{% endblock %}
{% block liens3 %}..\{% endblock %}
{% block liens4 %}..\{% endblock %}

{% block connection %} 
{% if user.username is defined %} 
<p>Bonjours {{user.username}}</p> 
<li><a href="deconnexion">DECONNEXION</a></li>
{% else %}
<li><a href="connexion">CONNEXION</a></li>
{% endif %} 

{% if IsAdmin == true %} 
<li><a href="admin">ADMIN</a></li>
{% endif %}
{% endblock connection %}

{% block content %}
    
    <h1>Création de Commentaire</h1>


    <div class="containerBlockMessageModif">
        <div class="BlockMessage">
            {% if successMessage is defined %}
                <p class={{class}}>{{ successMessage }}</p>
            {% endif %}
        </div>
    </div>


    <div class="container">
        <form name="createComment" method="post" action="../commentPostRequest/{{ id }}">
            <input type="hidden" name="post_id" value="{{ id }}">

            <label for="comment">Commentaire</label>
            <textarea name="comment" placeholder="Commentaire" ></textarea><br />

            <input id="modif" type="submit" name="valider" value="Crée le commentaire" />
        </form>
        <button type="submit" class="btn btn-primary"><a href="../blog">Retour Blog </a></button>
    </div>

{% endblock %}